.searcher {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.searcher > input, button {
    border-radius: 5px;
}

.cardContainer {
    margin: 20px;
    padding-top: 30px;
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-bottom: 0px;
    padding-bottom: 30px;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 220px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-top: 3px;
    border: 1px solid #C1AD70;
    font-size: 1.2rem;
}

.moreInfo {
    text-decoration: none;
    color: white;
}

.card:hover {
    transform: scale(1.2);
}

.card > p {
    width: 100%;
}