.champImg {
    width: 70%;
}

.champContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.0rem;
}

.champ {
    width: 70%;
}

.title {
    font-size: 1.5rem;
}

/* .lore{

} */

.loreTitle {
    font-size: 1.2rem;
}

.loreText {
    font-size: 1.0rem;
}

.spellsTitle {
    font-size: 1.2rem;
}