.champImg {
    width: 90%;
}

.champContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.0rem;
}

.champBox {
    width: 70%;
    padding: 10px;
}

.champ {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.title {
    font-size: 2.0rem;
    margin: 0px;
}

.lore{
    width: 40%;
}

.loreTitle {
    font-size: 1.8rem;
    margin: 5px;
}

.loreText {
    font-size: 1.0rem;
    margin: 5px;
    background-color: #1a1a1a;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    width: 300px;
}

.spells{
    width: 60%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.spellsCell {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.spellsTitle {
    font-size: 1.8rem;
    margin:0px;
}

.spellDescription {
    background-color: #1a1a1a;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
}
