.champImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 0%;
}

.champContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.0rem;
}

.champBox {
    width: 70%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #C1AD70;
}

.champ {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.champIcon {
    width: 20%;
    border-radius: 50%;
    border: 1px solid #C1AD70;
}

.title {
    font-size: 2.0rem;
    margin: 0px;
}

.lore{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.loreName {
    font-size: 2.0rem;
    margin: 0px;
}

.loreTitle {
    font-size: 1.5rem;
    margin: 0px;
    color: #C1AD70;
}

.loreText {
    font-size: 1.0rem;
    margin: 5px;
    background-color: #1a1a1a;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    width: 300px;
}

.spells{
    width: 60%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.spellsCell {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.spellsImg {
    cursor: pointer;
}

.spellsTitle {
    font-size: 1.8rem;
    margin:0px;
}

.spellDescription {
    background-color: #1a1a1a;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
}

.selectedSpell {
    border: 2px solid yellow;
}