.container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.item {
    text-decoration: none;
    color: white;
    background-color: grey;
    border-radius: 4px;
}